In [15]:
# Building a web scraper

# Download chromedriver webdriver:
# http://chromedriver.chromium.org/downloads
# download the latest version from this link

# You can also use firefox or phantomJS, chromedriver has the best developer tools
# Extract the downloaded file on your local machine

In [1]:
# Install selenium using pip or conda
#!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/b8/53/9cafbb616d20c7624ff31bcabd82e5cc9823206267664e68aa8acdde4629/selenium-3.14.0-py2.py3-none-any.whl (898kB)
    100% |████████████████████████████████| 901kB 7.1MB/s eta 0:00:01
Requirement already satisfied: urllib3 in /Users/jitu/anaconda3/lib/python3.6/site-packages (from selenium) (1.22)
Installing collected packages: selenium
Successfully installed selenium-3.14.0

In [64]:
import pandas as pd
import numpy as np

In [1]:
# Import webdriver from selenium
from selenium import webdriver
chrome_path = '/Users/jitu/Documents/Fall/UGC/chromedriver'
#Users⁩ ▸ ⁨jitu⁩ ▸ ⁨Documents⁩ ▸ ⁨Fall⁩ ▸ ⁨UGC⁩
# prepend it with r because of the backslash characters

In [2]:
pwd

'/Users/jitu/Documents/Fall/UGC/Jasleen/Text-Analytics'

In [3]:
driver = webdriver.Chrome(chrome_path)  # This will open up a chrome window

In [4]:
# Take a website that you want to scrape
driver.get("https://www.iplt20.com/")  # It will send you to that website

In [5]:
# Now write click on the element that you want to search and click on inspect.
# It will open the developer tools

# right-click on the html element and copy xpath
driver.find_element_by_xpath("""/html/body/header/div[1]/div/nav/div[1]/div/ul/li[6]/a""").click()

In [6]:
driver.find_element_by_xpath("""//*[@id="main-content"]/div[2]/aside/nav/ul/li[1]/ul/li[1]/a""").click()

In [7]:
posts = driver.find_elements_by_class_name('top-players__player-link')

In [20]:
most_runs_name = []
count = 0
for post in posts:
    most_runs_name.append(post.text)

In [22]:
#most_runs_name

In [27]:
runs = driver.find_elements_by_class_name('top-players__r')

In [28]:
most_runs = []

for run in runs:
    most_runs.append(run.text)

In [33]:
#most_runs

In [34]:
most_runs_matches = driver.find_elements_by_class_name('top-players__m')
matches = []

for match in most_runs_matches:
    matches.append(match.text)

In [40]:

most_runs_SR = driver.find_elements_by_class_name('top-players__sr')
strike_rate = []

for sr in most_runs_SR:
    strike_rate.append(sr.text)

In [44]:

most_runs_Avg = driver.find_elements_by_class_name('top-players__a')
average = []

for avg in most_runs_Avg:
    average.append(avg.text)

In [49]:

most_runs_100s = driver.find_elements_by_class_name('top-players__100s')
centuries = []

for cent in most_runs_100s:
    centuries.append(cent.text)

In [53]:

most_runs_50s = driver.find_elements_by_class_name('top-players__50s')
half_centuries = []

for half_cent in most_runs_50s:
    half_centuries.append(half_cent.text)

In [58]:
most_runs_4s = driver.find_elements_by_class_name('top-players__4s')
boundaries = []

for fours in most_runs_4s:
    boundaries.append(fours.text)

In [61]:
most_runs_6s = driver.find_elements_by_class_name('top-players__6s')
biggies = []

for sixs in most_runs_6s:
    biggies.append(sixs.text)

In [65]:
most_runs_details = pd.DataFrame(columns=['Player', 'Matches', 'Runs', 'Average', 'S/R', '100s', '50s', '4s', '6s'])

In [66]:
most_runs_details['Player'] = most_runs_name
most_runs_details['Matches'] = matches
most_runs_details['Runs'] = most_runs
most_runs_details['Average'] = average
most_runs_details['S/R'] = strike_rate
most_runs_details['100s'] = centuries
most_runs_details['50s'] = half_centuries
most_runs_details['4s'] = boundaries
most_runs_details['6s'] = biggies

In [115]:
most_runs_details.head(5)

             Player Matches Runs Average     S/R 100s 50s  4s  6s
0  Kane\nWilliamson      17  735   52.50  142.44    0   8  64  28
1      Rishabh Pant      14  684   52.61  173.60    1   5  68  37
2      Lokesh Rahul      14  659   54.91  158.41    0   6  66  32
3     Ambati Rayudu      16  602   43.00  149.75    1   3  53  34
4      Shane Watson      15  555   39.64  154.59    2   2  44  35

In [114]:
most_runs_details.to_csv('most_runs_details.csv', sep=',')

In [69]:
driver.find_element_by_xpath("""//*[@id="main-content"]/div[2]/aside/nav/ul/li[2]/ul/li[1]/a""").click()

In [73]:
most_wickets_players = driver.find_elements_by_class_name('top-players__player-link')
wicket_players = []

for player in most_wickets_players:
    wicket_players.append(player.text)

In [76]:
most_wickets_matches = driver.find_elements_by_class_name('top-players__m')
wicket_players_matches = []

for player in most_wickets_matches:
    wicket_players_matches.append(player.text)

In [80]:
most_wickets_overs = driver.find_elements_by_class_name('top-players__ov')
wicket_players_overs = []

for overs in most_wickets_overs:
    wicket_players_overs.append(overs.text)

In [84]:
most_wickets_runs = driver.find_elements_by_class_name('top-players__r')
wicket_players_runs = []

for runs in most_wickets_runs:
    wicket_players_runs.append(runs.text)

In [88]:
most_wickets_w = driver.find_elements_by_class_name('top-players__w')
most_wickets = []

for wickets in most_wickets_w:
    most_wickets.append(wickets.text)

In [92]:
most_wickets_average = driver.find_elements_by_class_name('top-players__a')
wicket_players_average = []

for avg in most_wickets_average:
    wicket_players_average.append(avg.text)

In [95]:
most_wickets_economy = driver.find_elements_by_class_name('top-players__e')
wicket_players_economy = []

for economy in most_wickets_economy:
    wicket_players_economy.append(economy.text)

In [98]:
most_wickets_SR = driver.find_elements_by_class_name('top-players__sr')
wicket_players_SR = []

for sr in most_wickets_SR:
    wicket_players_SR.append(sr.text)

In [101]:
most_wickets_4w = driver.find_elements_by_class_name('top-players__4w')
wicket_players_4w = []

for four in most_wickets_4w:
    wicket_players_4w.append(four.text)

In [105]:
most_wickets_5w = driver.find_elements_by_class_name('top-players__5w')
wicket_players_5w = []

for five in most_wickets_5w:
    wicket_players_5w.append(five.text)

In [109]:
most_wickets_details = pd.DataFrame(columns=['Player', 'Matches', 'Overs', 'Runs', 'Wickets', 'Average', 'Economy', 'S/R', '4w', '5w'])

In [110]:
most_wickets_details['Player'] = wicket_players
most_wickets_details['Matches'] = wicket_players_matches
most_wickets_details['Overs'] = wicket_players_overs
most_wickets_details['Runs'] = wicket_players_runs
most_wickets_details['Wickets'] = most_wickets
most_wickets_details['Average'] = wicket_players_average
most_wickets_details['Economy'] = wicket_players_economy
most_wickets_details['S/R'] = wicket_players_SR
most_wickets_details['4w'] = wicket_players_4w
most_wickets_details['5w'] = wicket_players_5w

In [116]:
most_wickets_details.head(5)

          Player Matches Overs Runs Wickets Average Economy    S/R 4w 5w
0    Andrew\nTye      14    56  448      24   18.66    8.00  14.00  3  0
1    Rashid Khan      17    68  458      21   21.80    6.73  19.42  0  0
2  Siddarth Kaul      17    66  547      21   26.04    8.28  18.85  0  0
3    Umesh Yadav      14  53.1  418      20   20.90    7.86  15.95  0  0
4    Trent Boult      14  52.4  466      18   25.88    8.84  17.55  0  0

In [117]:
most_wickets_details.to_csv('most_wickets_details.csv', sep=',')

In [120]:
driver.find_element_by_xpath("""//*[@id="main-content"]/div[2]/aside/nav/ul/li[2]/ul/li[15]/a""").click()

In [121]:
most_points_players = driver.find_elements_by_class_name('top-players__player-link')
points_players = []

for player in most_points_players:
    points_players.append(player.text)

In [123]:
most_points_matches = driver.find_elements_by_class_name('top-players__m')
points_players_matches = []

for matches in most_points_matches:
    points_players_matches.append(matches.text)

In [127]:
most_points_p = driver.find_elements_by_class_name('top-players__pts')
most_points = []

for points in most_points_p:
    most_points.append(points.text)

In [131]:
most_points_catches = driver.find_elements_by_class_name('top-players__c')
points_players_catches = []

for catches in most_points_catches:
    points_players_catches.append(catches.text)

In [135]:
most_points_stumping = driver.find_elements_by_class_name('top-players__s')
points_players_stumping = []

for stumps in most_points_stumping:
    points_players_stumping.append(stumps.text)

In [139]:
most_points_details = pd.DataFrame(columns=['Player', 'Matches', 'Points', 'Catches', 'Stumpings'])

In [140]:
most_points_details['Player'] = points_players
most_points_details['Matches'] = points_players_matches
most_points_details['Points'] = most_points
most_points_details['Catches'] = points_players_catches
most_points_details['Stumpings'] = points_players_stumping

In [142]:
most_points_details.head(5)

          Player Matches Points Catches Stumpings
0  Sunil\nNarine      16  379.5       1         0
1   Shane Watson      15    318       3         0
2   Rishabh Pant      14  314.5       4         2
3   Lokesh Rahul      14  304.5      10         1
4  Andre Russell      16  292.5       8         0

In [143]:
most_points_details.to_csv('most_points_details.csv', sep = ',')